@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* .scroll-container {
  width: 100%;
  overflow: hidden; 
}

.scroll-content {
  display: flex;
  animation: scroll 20s linear infinite; 
}

.scroll-item {
  flex-shrink: 0;
  width: 250px
} */

@media (max-width: 768px) {
  .scroll-content {
    animation: scroll 5s linear infinite;
  }
}

/* Additional responsiveness */
@media (max-width: 480px) {
  .scroll-content {
    animation: scroll 45s linear infinite;
  }
}
