@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom styles for SweetAlert */
.small-alert .swal2-popup {
  width: 240px; /* Tailwind's w-60 */
  padding: 16px; /* Tailwind's p-4 */
  font-size: 0.875rem; /* Tailwind's text-sm */
  border-radius: 0.5rem; /* Tailwind's rounded-lg */
}

.small-alert .swal2-title {
  font-size: 1.125rem; /* Tailwind's text-lg */
}

.small-alert .swal2-content {
  font-size: 1rem; /* Tailwind's text-base */
}

.small-alert .swal2-actions {
  margin-top: 16px; /* Tailwind's mt-4 */
}

/* Positioning the alert (optional adjustments) */
.small-alert .swal2-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #e0e0e0;
  }
}